<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/7a76fde2-4f67-4dcc-a008-e3d4b4da4a5c/resourceGroups/granto-registry/providers/Microsoft.ContainerRegistry/registries/granto</ResourceId>
    <ResourceName>granto</ResourceName>
    <ResourceGroup>granto-registry</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://granto.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>f6f69ba9-d4f1-45d9-9c27-8fbc588e665f</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>